<h1>profile test page</h1>
<h2>info on you</h2>
<div>
  <form method="POST">
    <input name="age" placeholder="age">
    <input name="city"placeholder="city">
    <input name="url" placeholder="url">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="userdata-button">submit info</button>
  </form>
</div>

{{#rows}}
{{/rows}}

{{#if err}}
<div>
  <h3 id="error-log">there was an error</h3>
</div>
{{/if}}