

<h2>please fill out some info on you</h2>
<div>
  <form method="POST">
    <input name="age" placeholder="age">
    <input name="city"placeholder="city">
    <input name="url" placeholder="url">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="userdata-button">submit info</button>
  </form>
</div>
<button id="edit">edit profile</button>
{{#rows}}
{{/rows}}

<h2>or continue to <a href="petition">petition</a></h2>

{{#if err}}
<div>
  <h3 id="error-log">there was an error</h3>
</div>
{{/if}}