* {
  background-color: aquamarine;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#canvas {
  background-color: chartreuse;
  color: black;
}
#button {
  height: 50px;
  width: 50px;
  background-color: cornflowerblue;
}
